@font-face{
	font-family: 'Gotham Pro Regular';
	src: url('../fonts/gothampro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-size: 18;
  }

  @font-face{
	font-family: 'Gotham Pro Medium';
	src: url('../fonts/gothampro_medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face{
	font-family: 'Gotham Pro Light';
	src: url('../fonts/gothampro_light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }




:root {
	--section-background: #F9F8F5;
	--font-color: #000;
	/* fonts sizes */
	--font-size: large;


	--maxWidthContainer: 1680;
	--maxWidth: 1920;
}

* {
	font-family: Gotham Pro Regular;
	color: var(--font-color);

	
  	
	
}

h1{
	font-family: Gotham Pro Light;
	color: var(--font-color);
}

a {
	text-decoration: none;
	
}

/*  HEADER */
header {
	background-color: var(--section-background);
	margin-top: 32px;
	margin-left: 28px;
	margin-right: 52px;
	margin-bottom: 0px;

	
}
.menu {
	padding-top: 38px;
	padding-left:92px;
	padding-right:68px;
	padding-bottom: 40px;
}

.menu__list {
	display:flex;
	justify-content: space-between;
}

.menu__item__png{
	display: block;
	margin-top: auto;
    margin-bottom: auto

}
.menu__item {

	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	margin-top: auto;
    margin-bottom: auto
}
/*  HEADER */

/*  MAIN */

.header__content {
	margin-left: 28px;
	margin-right: 52px;
	margin-bottom: 0px;
	background-color: var(--section-background);
	display:flex;
	justify-content: space-between;
	
	
}


.header__content::before{
	content: "";
	width: 181px;
	
	position: absolute;
	height: 0px;
	left: 40px;
	top: 322px;
	border-top: 1px solid black;
	-webkit-transform: rotate(90deg);
	transform: scale(-1, 1);
}


.header__oveview{
	padding-top: 108px;
	padding-left: 225px;
	padding-bottom: 271px;
	z-index: 1;
	position: absolute;
}

.label {
	

}


.header_img{
	width: 865px;
	position: relative;
	padding-top: 31px;
	padding-right: 79px;
	padding-left: 946px;
	z-index: 0;
	
}

.number {
	font-family: Gotham Pro Light;
	font-weight: 300;
	font-size: 30px;
	line-height: 29px;
}

.label p {
	font-size: 20px;
	line-height: 150%;
	margin-bottom: 40px;
}


.label h1 {
	font-weight: 300;
	font-size: 70px;
	width: 729px;
	line-height: 100%;
	margin-top: 24px;
	margin-bottom: 16px;
}

.label2 div{

	display: inline;
}

.label2 img{
	width: 55px;
}

.label2 button{
	background: none;
	border: none;
	transform-origin: left;	
}
.right__button img{
	background: none;
	transform-origin: center;
	transform: rotate(180deg);
	
	/*transform-origin: 100%, 50%;
	transform: rotate(180deg);*/
	
}

.endNav{
	margin-left: 28px;
	margin-right: 52px;
	margin-bottom: 48px;
	display: flex;
	justify-content: space-between;
	background-color: var(--section-background);
}


/*  MAIN */
.First_section{
	

}

.container{
	display: block;
	width: 100%;
	
}
.container_second{
	display: flex;
	justify-content: space-between;
}

.config{
	display: flex;
}

.column{
	display: block;
	
}

.second_column{
	border-left: 1px solid black;
	border-right: 1px solid black;
}	

footer section p:nth-child(2){
	text-align: center;
}

li{
	list-style: none;
}



/*.header__content::before{
	content: "";
	width: 100px;
	border: 1px solid black;
}*/



.downButton, .downButton div{
	display: flex;
	align-items: center;
	flex-direction: column;


}

.downButton img{
	display: block;
	width:  36px;
}
