@font-face{
	font-family: 'Gotham Pro Regular';
	src: url('../fonts/gothampro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-size: 18;
  }

  @font-face{
	font-family: 'Gotham Pro Medium';
	src: url('../fonts/gothampro_medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face{
	font-family: 'Gotham Pro Light';
	src: url('../fonts/gothampro_light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }




:root {
	--section-background: #F9F8F5;
	--font-color: #000;
	/* fonts sizes */
	--font-size: large;


	--maxWidthContainer: 1680;
	--maxWidth: 1920;
}

* {
	font-family: Gotham Pro Regular;
	color: var(--font-color);

	
  	
	
}

h1{
	font-family: Gotham Pro Light;
	color: var(--font-color);
}

a {
	text-decoration: none;
	
}

li{
	list-style: none;
}

/*  HEADER */
header {
	background-color: var(--section-background);
	margin-top: 32px;
	margin-left: 28px;
	margin-right: 52px;
	margin-bottom: 0px;

	
}
.menu {
	padding-top: 38px;
	padding-left:92px;
	padding-right:68px;
	padding-bottom: 40px;
}

.menu__list {
	display:flex;
	justify-content: space-between;
}

.menu__item__png{
	display: block;
	margin-top: auto;
    margin-bottom: auto

}
.menu__item {

	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	margin-top: auto;
    margin-bottom: auto
}
/*  HEADER */

/*  MAIN */
.first_section{
	background-color: var(--section-background);
	margin-left: 28px;
	margin-right: 52px;
	margin-bottom: 48px;
}
.header__content {
	
	
	display:flex;
	justify-content: space-between;
	
	
}


.header__content::before{
	content: "";
	width: 181px;
	
	position: absolute;
	height: 0px;
	left: 40px;
	top: 322px;
	border-top: 1px solid black;
	-webkit-transform: rotate(90deg);
	transform: scale(-1, 1);
}


.header__oveview{
	padding-top: 108px;
	padding-left: 225px;
	padding-bottom: 271px;
	z-index: 2;
	position: absolute;
	
}


.header_img{
	width: 865px;
	position: relative;
	padding-top: 31px;
	padding-right: 79px;
	padding-left: 946px;
	z-index: 1;
	
}

.number {
	font-family: Gotham Pro Light;
	font-weight: 300;
	font-size: 30px;
	line-height: 29px;
}

.label p {
	font-size: 20px;
	line-height: 150%;
	margin-bottom: 40px;
}


.label h1 {
	font-weight: 300;
	font-size: 70px;
	width: 729px;
	line-height: 100%;
	margin-top: 24px;
	margin-bottom: 16px;
}

.label2 div{

	display: inline;
}

.label2 img{
	width: 55px;
}

.label2 button{
	background: none;
	border: none;
	transform-origin: left;	
}
.right__button img{
	background: none;
	transform-origin: center;
	transform: rotate(180deg);
	
	/*transform-origin: 100%, 50%;
	transform: rotate(180deg);*/
	
}

.endNav{
	
	
	display: flex;
	justify-content: space-between;
	background-color: var(--section-background);
}

.language {
	padding-left: 91px;
	padding-bottom: 61px;

}

.downButton, .downButton div{
	display: flex;
	align-items: center;
	flex-direction: column;


}

.soundButton{
	padding-right:69px;
	padding-bottom:72px;
}
.downButton p{
	padding-bottom: 8px;
}

.downButton img{
	display: block;
	width:  36px;
	padding-bottom: 16px;
}


/*  MAIN */

.second_section{
	margin-top: 120px;
	margin-left: 28px;
	margin-right: 52px;
}
.container{
	display: block;
	width: 100%;
	
}
.container_second{
	display: flex;
    align-items: stretch;
    justify-content: center;
    height: 756px;
    list-style: none;
	
	
}

.config{
	display: flex;
}

.column{
	height: 756px;
	width: 509px;
	display: flex;

    flex-direction: column;
    justify-content: space-between;

    
}

.column button{
	padding-left: 56px;
	background: none;
	border: none;
	display: inline-flex;
	
	
}

.column button img{
	padding-top: 10px;
	padding-left: 10px;
}
.column_text{
	padding-left: 56px;
}

.image12 {
	width: 373px;
}
.config{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	text-align: stretch;
	
}
.second_column{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.third_section{
	margin-top: 120px;
	margin-left: 28px;
	margin-right: 52px;
	display: flex;	
	justify-content: space-between;
}

.third_section_text{
	max-width: 663px;
	max-height: 646px;
	padding-bottom: 169px;
}

.third_section_text h1{
	font-family: Gotham Pro Light;
	max-width: 663px;
	max-height: 210px;
	font-weight: 300;
	font-size: 60px;
	line-height: 116%;
}

.third_section_img{
	display: inline-block;
}

.banners-carousel {
    display: flex;
    justify-content: center;

    background-color: var(--section-background);
}

.banners-carouselconteiner {
    background-color: var(--section-background);
    width: 100%;
    overflow-x: scroll;
	padding-top: 80px;
	padding-bottom: 176px;
}

.banners-carouselwrapper {
    width: max-content;
    display: flex;
    flex-direction: row;

    gap: 120px;

    align-content: center;
}

.banners-carouselliitems{
	width:auto;
}
.banners-carousel__wrapper::-webkit-scrollbar {
	width: 5px;
  	height: 2px;
	scrollbar-width: thin;
}

.banners-carousel__wrapper::-webkit-scrollbar-button {
    
}

.banners-carousel__wrapper::-webkit-scrollbar-track {
    background-color: darkgrey;
}

.first_footer_section{
	padding-bottom: 120px;
	padding-top: 120px;
	display: flex;
  	align-items: center;
  	justify-content: center
}
footer section p:nth-child(2){
	text-align: center;
}

.ul_container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
